body {
  background: linear-gradient(to bottom, #004177, #fff);
  min-height: 100vh;
}

div#area {
  display: inline-block;
}

div#pokemon {
    display: inline-block;
    /* background: rgb(0, 0, 0); */
    color: rgb(0, 0, 0);
    height: 200px;
    line-height: 200px;
    text-align: center;
}

p {
    font: normal 20pt Arial;
    display: inline-block;
    color: rgb(0, 0, 0);
    height: 200px;
    line-height: 200px;
    text-align: center;
}

img {
    background-color: #000000;
}
